run = "npm run dev"
entrypoint = "README.md"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-lc", "npm run db:setup && npm run build && NODE_ENV=production npm run start --workspace server"]
